html, :host {
    --lumo-font-family: sans-serif;

    --primary-color-hsl-raw: 215, 100%, 40%;

    --lumo-primary-text-color: hsl(var(--primary-color-hsl-raw));
    --lumo-primary-color: hsl(var(--primary-color-hsl-raw));
    --lumo-primary-color-50pct: hsla(var(--primary-color-hsl-raw), 0.5);
    --lumo-primary-color-10pct: hsla(var(--primary-color-hsl-raw), 0.1);

    --vaadin-input-field-border-width: 1px;
    --vaadin-input-field-border-color: var(--lumo-body-text-color);
}
